<div class="card border-primary mt-1">
  <div class="card-header text-primary">
    <div class="row">
      <div class="col-md-4">
        <h5>Nombre:</h5>
      </div>
      <div class="col-md-6 fw-bold">
        <h5>Título</h5>
      </div>
      <div class="col-md-2">
        <button
          type="button"
          class="btn-close text-danger"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4"><h5>Precio:</h5></div>
      <div class="col-md-8">
        <span class="h5">$ 2,000.00</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-primary btn-lg fw-bold">-</button>
      </div>
      <div class="col-md-8 text-center fw-bold h4">10</div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-lg fw-bold">+</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><h5>Importe:</h5></div>
      <div class="col-md-8">
        <span class="h5">$ 20,000.00</span>
      </div>
    </div>
  </div>
</div>
