<div class="card border-primary">
  <div class="card-header text-primary fw-bold">
    <div class="row">
      <div class="col-md-12">
        <h5>Resumen</h5>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">No. de artículos:</div>
      <div class="col-md-4" style="text-align: right">10</div>
    </div>
    <div class="row">
      <div class="col-md-4">Importe total:</div>
      <div class="col-md-4" style="text-align: right">$ 20,000.00</div>
    </div>
  </div>
</div>

<ng-template #noItems> No hay elementos en el carrito. </ng-template>
