<!-- Header with Title, Image, and Tabs -->
<div class="AllSite">
    <header>
        <mat-toolbar>
            <!-- First row for title and image -->
            <div class="navbar-brand d-flex align-items-center text-light">
                <h3 class="mr-3">Im19th</h3> &nbsp;
                <i class="fa-brands fa-twitch fa-xl"></i>        
            </div>
            <div class="px-4">
                <mat-chip-listbox>
                    <mat-chip-option color="warn" [routerLink]="['/cursos']">Cursos</mat-chip-option>
                    <mat-chip-option color="warn" [routerLink]="['/categorias']">Categorias</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </mat-toolbar>
    </header>
    <!-- Body -->
    <main class="container mt-4">
        <div class="ContentFromMain">
			<router-outlet></router-outlet>
		</div>
    </main>
    <!-- Footer -->
    <footer class="footer py-3"> ©Im19th 2023 </footer>
</div>
