<!-- Header with Title, Image, and Tabs -->
<div class="AllSite">
    <header>
        <mat-toolbar color="primary">
            <!-- First row for title and image -->
            <div class="navbar-brand d-flex align-items-center">
                <h3 class="mr-3">Curso: RXJSAngular</h3>
            </div>
            <div class="g-font-size-15">
                <i class="fa-brands fa-twitter"></i>
                <!-- <img src="tu-imagen.png" alt="Imagen" style="max-height: 40px;"> -->
            </div>
            <div class="px-4">
                <button mat-raised-button [routerLink]="['/categorias']">Categorias </button>
                <button mat-raised-button [routerLink]="['/cursos']" class="m-2">Cursos </button>
            </div>
        </mat-toolbar>
    </header>
    <!-- Body -->
    <main class="container mt-4">
        <!-- Contenido dinámico de la aplicación (se mostrará aquí) -->
        <div class="ContentFromMain">
            <router-outlet></router-outlet>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer bg-secondary text-white text-center py-3">
        Derechos de autor ©Pitloco97 2023
    </footer>
</div>