<main class="container-fluid">
    <div class="row mt-3">
        <div class="col-6">
            <h1> Listado Cursos </h1>
        </div>
        <div class="col-6 text-end"  [routerLink]="['/cursos-agr']">  
            <button mat-raised-button color="primary"> <mat-icon>add</mat-icon> Agregar </button>  
        </div>
    </div>
    <div class="row mt-3">
        <mat-form-field>
            <mat-label>Categorias</mat-label>
            <mat-select (selectionChange)="onselected($event)">
                <mat-option value="0">Mostrar Todos</mat-option>
                <mat-option *ngFor="let cat of listadoCat$ | async" [value]="cat.id">
                    {{cat.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table class="w-100" aria-label="Elements" [dataSource]="cursos$ | async">
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let cat">{{cat.id}}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef class="">Nombre</th>
                <td mat-cell *matCellDef="let cat">{{cat.nombre}}</td>
            </ng-container>
            <!-- Description Column -->
            <ng-container matColumnDef="categoriaId">
                <th mat-header-cell *matHeaderCellDef class="">Categoria</th>
                <td mat-cell *matCellDef="let cat">{{cat.categoriaId}}</td>
            </ng-container>
            <!-- Precio Column -->
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef class="">Precio</th>
                <td mat-cell *matCellDef="let cat">{{ cat.precio | currency:'MXN':'symbol':'1.2-2' }} </td>
            </ng-container>
            <!-- PrecioIVA Column -->
            <ng-container matColumnDef="precioIVA">
                <th mat-header-cell *matHeaderCellDef class="">Precio + IVA</th>
                <td mat-cell *matCellDef="let cat">{{ cat.precioIVA | currency:'MXN':'symbol':'1.2-2' }} </td>
            </ng-container>
            <!-- Categoria Column -->
            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef class="">Descripcion Categoria</th>
                <td mat-cell *matCellDef="let cat">{{ cat.categoria }} </td>
            </ng-container>
            <!-- actions Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let cat">
                    <a alt="Editar"><mat-icon matTooltip="Editar Categoria">edit</mat-icon></a>
                    <a alt="Eliminar" (click)="deleteCategoria(cat)" class="g-pointer"><mat-icon
                            matTooltip="Eliminar Categoria">delete</mat-icon></a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let cat; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageIndex]="0" [pageSize]="pageRegister" [pageSizeOptions]="[3, 5, 10, 20, 30]"
            aria-label="Select page"> </mat-paginator>
    </div>
</main>